.food.icon {
  background-image: url("../assets/icon-food.png");
}
.water.icon {
  background-image: url("../assets/icon-water.png");
}
.metal.icon {
  background-image: url("../assets/icon-metal.png");
}
.battery.icon {
  background-image: url("../assets/icon-battery.png");
}
.fuel.icon {
  background-image: url("../assets/icon-fuel.png");
}
.component.icon {
  background-image: url("../assets/icon-component.png");
}
.plutonium.icon {
  background-image: url("../assets/icon-nuclear.png");
}
.scientific.icon {
  background-image: url("../assets/icon-scientific.png");
}
.squad.icon {
  background-image: url("../assets/icon-squad.png");
}
.fail.icon {
  background-image: url("../assets/icon-fail.png");
}
.dead.icon {
  background-image: url("../assets/icon-dead.png");
}
.rocket.icon {
  background-image: url("../assets/icon-rocket.png");
}
.right.icon {
  background-image: url("../assets/icon-right.png");
}
.left.icon {
  background-image: url("../assets/icon-left.png");
}

.button.map .icon {
  background-image: url("../assets/icon-map.png");
}
.button.missions .icon {
  background-image: url("../assets/icon-squad.png");
}
.button.stock .icon {
  background-image: url("../assets/icon-stock.png");
}
.button.labo .icon {
  background-image: url("../assets/icon-labo.png");
}